<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% extends 'bootstrap/navbar.html' %}
</head>
<body>
{% block content %}

    <h1>Ссылки на документы</h1>

    <div>
        <a href="https://kstu.kg/fileadmin/user_upload/plan_po_vospitatelnoi_rabote__kl.pdf" target="_blank">План по воспитательной работе</a>
    </div>
    <div>
        <a href="https://kstu.kg/fileadmin/user_upload/kuratory_i_starosty_2022-2023.pdf" target="_blank">Кураторы и старосты 2022-2023</a>
    </div>
    <div>
        <a href="https://kstu.kg/fileadmin/user_upload/akadem.sovetniki_kafedry_kl_2022-2023.pdf" target="_blank">Академические советники кафедры КЛ 2022-2023</a>
    </div>


{% endblock %}
</body>
</html>
