<!DOCTYPE html>
{% extends 'bootstrap/navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% block content %}
<body>
    <div>
        <h1>Методическая работа</h1>
        <a href="https://kstu.kg/fileadmin/user_upload/uchebno-metodicheskaja_rabota.pdf">uchebno-metodicheskaja_rabota.pdf</a>
    </div>
    <div>
        <a href="polozhenie_ob_umk_kgtu_2020_final_na_us.docx">polozhenie_ob_umk_kgtu_2020_final_na_us.docx</a>
    </div>
    <div>
        <a href="metodicheskie_ukazanija_kaf_kl_2021.pdf">metodicheskie_ukazanija_kaf_kl_2021.pdf</a>
    </div>
</body>
{% endblock %}

</html>
